/* color-scheme
    #191825
    #865DFF
    #E384FF
    #FFA3FD 
    font-family: 'Righteous', cursive;
    */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;

}

body{
    height: 100vh;
    background-color:#191825;
}

header{
    height: 30vh;
    background: url('../assets/areaanimeidlogo.jpg') center;
}
main{
    min-height: 60vh;
}
.card-img-overlay{
    background-color: #24232380;
}
table{
    background: url('https://i.etsystatic.com/41465127/r/il/18480b/4659795616/il_fullxfull.4659795616_9asy.jpg') center;
    border-collapse: separate;
    border-radius: 15pt;
    padding: 15px;
    margin: 1rem;
    table-layout: fixed;
}
th, td{
    background-color: #24232380;
    color: #FFA3FD;
    text-align: center;
    border-radius: 15pt;
    padding: .5rem;
    width: 20rem;
}

footer{
    height: 10vh;
    background: url('../assets/areaanimeidlogo.jpg') bottom;
}